
  
        p
        {
            color: #A692F2; 
            font-size: 38px; 
        }

        body
        {
            color:rgb(55%,37%,82%); 
            font-size: 48px; 
        }
